
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Yazar Giriş Paneli</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="/Login/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
    <link rel="stylesheet" href="/Login/css/font-awesome.min.css" type="text/css" media="all">
</head>
<body>
    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Yazar Giriş Paneli</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Giriş Alanı</h2>
                        @using (Html.BeginForm("AuthorLogin", "Login", FormMethod.Post))
                        {
                            <input type="text" class="text" name="Mail" placeholder="Mail Adresi" required="" autofocus>
                            <input type="password" class="password" name="Password" placeholder="Şifre" required="" autofocus>
                            <button class="btn" type="submit">Giriş Yap</button>
                        }
                        <p class="account">Admin Girişi <a href="/Login/AdminLogin">Giriş Sayfası</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="/Login/images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
    </section>
    <!-- //form section start -->
</body>
</html>
